
html {
  /*font-size: 13px;*/
  /*font-family: Roboto, Arial, sans-serif;*/
  min-width: 1080px;
}

body {
  min-width: 1080px;
  /*background-image: url("images/beach.jpg");*/
}
* {
  box-sizing: border-box;
}

/*
 *  note
 */
.control-panel {
  border: 0.5em solid rgb(123, 0, 232);
  padding: 1em;
}
.instructions-panel {
  width: 1080px;
}
.control-panel-top {
  width: 1080px;
  height: 120px;
}
.control-panel-left {
  width: 120px;
  height: 960px;
  float: left;
}
.container-grid {
  width: 960px;
  height: 960px;
  border: 0.5em solid green;
  float: left;
}
.centered-content {
  text-align: center;
}
.button-control {
  color: rgb(153, 2, 2);
  padding: 0.5em;
}
.tiles-container {
  border: 1em solid rgb(0, 204, 20);
  background-color: rgb(156, 192, 247);
  padding: 1em;
  margin: 1em;
  display: inline-block;  /*made 'none' to try to use show() or fadeIn()*/
}
/* prevent collapse around children*/
.tiles-container:after {
  content: "";
  display: table;
  clear: both;
}
.row-container {
  /*border: 1em solid rgb(114, 0, 204);*/
  background-color: rgb(0, 176, 165);
}
.row-container:after {
  content: "";
  display: table;
  clear: both;
}
.tile {
  height: 0.5em;
  width: 0.5em;
  /*border: 1px solid rgb(0, 0, 0);*/
  background-color: rgb(239, 184, 244);
  float: left;
}
.left-tile {
  background-color: rgb(213, 0, 0);
  clear: left;
}
.grid-frame {
  text-align: center;
}
.highlighted {
  background-color: rgb(1, 53, 210);
}
.highlighted-red {
  background-color: red;
}
.highlighted-blue {
  background-color: blue;
}
.highlighted-white {
  background-color: white;
}
.highlighted-default {
  background-color: black;
}
.button-color {
  height: 2em;
  width: 2em;
  margin: 1em;
  border: 1px solid rgb(0, 0, 0);
}
/* prevent collapse around children*/
/*.button-color:after {
  content: "";
  display: table;
  clear: both;
}*/
/*.no-bullet-list {
  list-style-type: none;
}*/
