
html {
  /*font-size: 13px;*/
  /*font-family: Roboto, Arial, sans-serif;*/
  min-width: 1080px;
}

body {
  min-width: 1080px;
  /*background-image: url("images/beach.jpg");*/
}
* {
  box-sizing: border-box;
}

/* CSS Variables to use with javascript */
:root {
  /* to handle user input of grid size - default of 4*/
  --numRows: 2;
  --numColumns: 2;
}
/*
 *  note
 */
.control-panel {
  border: 0.5em solid rgb(123, 0, 232);
  padding: 1em;
}
.instructions-panel {
  width: 1080px;
}
.control-panel-top {
  width: 1080px;
  height: 120px;
}
.control-panel-left {
  width: 120px;
  height: 960px;
  float: left;
}
.container-grid {
  width: 960px;
  height: 960px;
  border: 0.5em solid green;
  float: left;
}
.centered-content {
  text-align: center;
}
.button-control {
  color: rgb(153, 2, 2);
  padding: 0.5em;
}
.tiles-container {
  height: 100%;
  background-color: rgb(156, 192, 247);
  border: 1em solid rgb(0, 204, 20);
  /*padding: 1em;
  margin: 1em;
  display: inline-block;*/
  display: grid;
  grid-template-rows: repeat(var(--numRows), 1fr);    /* auto or 1fr*/
  grid-template-columns: repeat(var(--numColumns), 1fr); /* auto or 1fr*/
  grid-gap: 0;
}
/* prevent collapse around children*/
/*.tiles-container::after {
  content: "";
  display: table;
  clear: both;
}*/
.row-container {
  /*border: 1em solid rgb(114, 0, 204);*/
  background-color: rgb(0, 176, 165);
}
.row-container::after {
  content: "";
  display: table;
  clear: both;
}
.tile {
  color: black;
  grid-column-start: auto;
  grid-row-start: auto;
  /*height: 0.5em;*/
  /*width: 0.5em;*/
  /*border: 1px solid rgb(0, 0, 0);*/
  background-color: rgb(239, 184, 244);
  /*float: left;*/
}
/* prevent collapse around children*/
/*.tile::after {
  content: "";
  display: table;
  clear: both;
}*/
.left-tile {
  background-color: rgb(213, 0, 0);
  clear: left;
}
.grid-frame {
  text-align: center;
}
.highlighted {
  background-color: red;
}
.highlighted-red {
  background-color: red;
}
.highlighted-blue {
  background-color: blue;
}
.highlighted-white {
  background-color: white;
}
.highlighted-default {
  background-color: black;
}
.button-color {
  height: 2em;
  width: 2em;
  margin: 1em;
  border: 1px solid rgb(0, 0, 0);
}
.grid1-id {
}
.grid2-id {
}
/* prevent collapse around children*/
/*.button-color::after {
  content: "";
  display: table;
  clear: both;
}*/
