
html, body {
  min-width: 1080px;
}

* {
  box-sizing: border-box;
  border: 1px solid lawngreen;
}

/* CSS Variables to use with javascript */
:root {
  /* to handle user input of grid size - default of 4*/
  --numRows: 2;
  --numColumns: 2;
}
/*
 *  note
 */
.app-container {
  /*background: linear-gradient(black, grey, white, grey, black);*/
  background-color: grey;
  border: 10px solid rgb(123, 0, 232);
  width: 1080px;
 }
 .app-container::after {
   content: "";
   display: table;
   clear: both;
 }
.instructions-panel {
  width: 100%;
  padding: 10px;
}
.instructions {
  color: white;
  font-family: arial;
  font-weight: bold;
}
.control-panel-top {
  width: 100%;
  /*height: 120px;*/
  padding: 10px;
}
.control-panel-left {
  width: 100px;
  height: 960px;
  float: left;
}
.control-panel-right {
  width: 100px;
  height: 960px;
  float: left;
  display: none;
  /*position: absolute;*/
  /*z-index: 5;*/
}
.container-buttons-color {
  /*margin-top: 100px;*/
}
.control-panel-title {
  height: 100px;
}
.container-grid {
  width: 960px;
  height: 960px;
  float: left
  /*margin-left: 100px;*/
  /*border: 10px solid lawngreen;*/
}
.tiles-container {
  height: 100%;
  border: 10px solid lawngreen;
  display: grid;
  grid-template-rows: repeat(var(--numRows), 1fr);    /* auto or 1fr*/
  grid-template-columns: repeat(var(--numColumns), 1fr); /* auto or 1fr*/
  grid-gap: 0;
  /*position: absolute;*/
  /*z-index: 10;*/
}
.centered-content {
  text-align: center;
}
.button-control {
  color: rgb(153, 2, 2);
  border: 2px solid green;
  padding: 0.5em;
  border-radius: 2px;
}
.button-control-selected {
  border: 3px solid silver;
}
.tile {
  grid-column-start: auto;
  grid-row-start: auto;
  /*border: 1px solid rgb(0, 0, 0);*/
}
.button-color {
  height: 2.5em;
  width: 2.5em;
  margin: 1em auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1.25em;
  display: block;
}
.button-color-selected {
  border: 3px solid silver;
  border-radius: 0.25em;
  /*box-shadow: inset 0 0 silver; */
}

/**
  *   Color Classes for highlighting tiles
  */

.highlighted-white {
    background-color: white;
}
.highlighted-yellow {
    background-color: yellow;
}
.highlighted-orange {
    background-color: orange;
}
.highlighted-pink {
  background-color: pink;
}
.highlighted-red {
  background-color: red;
}
.highlighted-lightblue {
  background-color: lightblue;
}
.highlighted-blue {
  background-color: blue;
}
.highlighted-lawngreen {
  background-color: lawngreen;
}
.highlighted-green {
  background-color: green;
}
.highlighted-rebeccapurple {
  background-color: rebeccapurple;
}
.highlighted-saddlebrown {
  background-color: saddlebrown;
}
.highlighted-lightgrey {
  background-color: lightgrey;
}
.highlighted-grey {
  background-color: grey;
}
.highlighted-black {
  background-color: black;
}
