
html, body {
  min-width: 1280px;
}

* {
  box-sizing: border-box;
}

/* CSS Variables to use with javascript */
:root {
  /* to handle user input of grid size - default of 4*/
  --numRows: 4;
  --numColumns: 4;
}


/**
  * Containers and Panels (areas)
  */
.container-app-main {
  width: 1280px;
  background-color: rgb(250, 30, 0);
  padding: 15px 140px 20px 20px;
  border: 4px solid rgba(0,0,0,0.6);
  border-radius: 20px;
 }
 .container-app-drawing {
   width: 1120px;
   height: 1000px;
   position: relative;
 }
 .control-panel-title-main {
   margin-left: 120px;
 }
 .container-title-color-menu {
   height: 75px;
 }
.control-panel-top {
  padding: 10px 10px 20px;
  margin-left: 120px;
}
.control-panel-left {
  width: 100px;
  height: 100%;
  margin-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.control-panel-right {
  width: 120px;
  height: 100%;
  border-color: rgb(250, 30, 0);
  border-style: solid;
  border-left-width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
.container-grid {
  width: 1000px;
  height: 100%;
  outline: 3px solid rgba(0,0,0,0.6);
  background-color: silver;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.tiles-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(var(--numRows), 1fr);    /* auto or 1fr*/
  grid-template-columns: repeat(var(--numColumns), 1fr); /* auto or 1fr*/
  grid-gap: 0;
}
.container-knobs {
  padding: 20px 0 0 120px;
}
/* un-collapse container using '::after' */
.container-knobs::after {
  content: "";
  display: table;
  clear: both;
}

/**
  * Visual Items (buttons, tiles, knobs)
  */
.tile {
  grid-column-start: auto;
  grid-row-start: auto;
}
.button-control {
  font-size: 18px;
  color: red;
  font-weight: bold;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 2px;
  margin: 0 10px;
  vertical-align: middle;
}
.button-control-small {
  height: 40px;
  width: 120px;
}
.button-control-large {
  height: 40px;
  width: 220px;
}
.button-color {
  height: 50px;
  width: 50px;
  margin: 15px auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  outline: none;
  display: block;
}
.knob {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
}
.knob-left {
  float: left;
}
.knob-right {
  float: right;
}

/**
 *  Utility classes
 */
 .title-main {
   color: goldenrod;
   font-family: 'Kavivanar', cursive, serif;
   font-size: 35px;
   text-shadow: 1px 1px rgba(0,0,0,0.6);
   letter-spacing: 2px;
   vertical-align: middle;
   display: inline-block;
 }
 .title-main-large {
   font-family: 'Courgette', cursive, serif;
   font-size: 80px;
   letter-spacing: 4px;
   margin: 0 30px;
 }
 .title-color-menu {
   color: white;
   font-family: Arial, sans-serif;
   font-size: 20px;
   font-weight: bold;
 }
 .noise {
   background-image: url(/images/noise3.png);
 }
.red-gradient {
  background: linear-gradient(rgb(250, 30, 0),
                              rgb(250, 130, 100),
                              rgb(250, 220, 220),
                              rgb(250, 130, 100),
                              rgb(250, 30, 0));
}
.shadow-effect {
  box-shadow: 7px 7px rgba(0,0,0,0.6);
}
.no-margin {
  margin: 0;
}
.centered-content {
  text-align: center;
}
.button-control-highlighted {
  color: indigo;
  background-color: khaki;
  border: 3px solid silver;
}
.button-color-selected {
  border: 4px solid LightSteelBlue;
  border-radius: 3px;
}

/**
  *   Color Classes for highlighting tiles
  */
.highlighted-white {
    background-color: white;
}
.highlighted-yellow {
    background-color: yellow;
}
.highlighted-orange {
    background-color: orange;
}
.highlighted-pink {
  background-color: pink;
}
.highlighted-red {
  background-color: red;
}
.highlighted-lightblue {
  background-color: lightblue;
}
.highlighted-blue {
  background-color: blue;
}
.highlighted-lawngreen {
  background-color: lawngreen;
}
.highlighted-green {
  background-color: green;
}
.highlighted-indigo {
  background-color: indigo;
}
.highlighted-saddlebrown {
  background-color: saddlebrown;
}
.highlighted-lightgrey {
  background-color: lightgrey;
}
.highlighted-grey {
  background-color: grey;
}
.highlighted-black {
  background-color: black;
}
